
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,web
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,web

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Web ###
*.cer
*.rss
*.wasm
*.wat

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,web